.notes-page-container2 {
    margin: 2rem 0;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.notes-page-container21 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 2rem;

    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);

    }
}