.single-page-container1 {
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .single-page-container1 {
        grid-template-columns: 1fr;
        text-align: justify;
    }

    .single-page-container11 {
        display: flex;
        align-items: center;
    }

    .single-page-container11>img {
        margin-bottom: 3rem;
    }
}