.top-section-homePage {
  position: relative;
  /* background-image: url("/HomePage/toppic.png"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 800px;
  min-height: 500px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-section-homePage::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}


.top-section-homePage::before {
  mix-blend-mode: multiply;
}


.text-container {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: #fff;
  width: 40%;
  text-align: left;
}


@media screen and (max-width: 768px) {
  .text-container {
    width: 80%;
  }


}