* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Poppins', sans-serif;




}

.custom-dropdown-title .dropdown-toggle {
  color: #1A9FB2 !important;
  /* Use !important to override Bootstrap styles */
  font-weight: 600;
  /* If you want to change the background color */
}

.custom-dropdown-title .dropdown-menu {
  background-color: #1A9FB2;
  color: white !important;
  width: 20rem;
}

.custom-dropdown-title .dropdown-menu .dropdown-item {
  background-color: #1A9FB2;
  color: white !important;
  width: 20rem;

}

.custom-dropdown-title .dropdown-menu .dropdown-item:hover {
  background-color: #1A9FB2;
  color: black !important;
  width: 20rem;
}